<div class="spacing">
    <h1>Code Bits</h1>
    <h3>Click on a category below to see some of my code.</h3>
</div>
<accordion close-others="false">
    <accordion-group>
        <accordion-heading>
            <div>JavaScript</div>
        </accordion-heading>
        Some JS Code
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <div>jQuery</div>
        </accordion-heading>
        Some jQuery Code
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <div>Angular</div>
        </accordion-heading>
        Some Angular Code
    </accordion-group>
</accordion>