<div class="jumbotron">
    <div class="col-md-8 left">
        <h2>Chelsea Okey</h2>
        <p>This is a website designed to showcase some of the work I've done</p>
        <p>This is the homepage with some basic info about me. Above you'll see links for my blog, where I have
            documented some of my work, and Code Bits, where you can review some of my code.</p>
    </div>
    <div class="col-md-3 right text-center">
        <img src="../images/profile.jpg">
    </div>
</div>
<div class="container text-center">
    <div class="col-md-8 col-md-offset-2 skills">
        <h3>Skills</h3>
    </div>
    <div class="col-md-3 kid1">
        <h4>Expert Proficiency</h4>
        <div>HTML</div>
        <div>CSS</div>
        <div>Bootstrap</div>
        <div>JavaScript</div>
        <div>jQuery</div>
        <div>Git</div>
    </div>
    <div class="col-md-3">
        <h4>Working Proficiency</h4>
        <div>Node</div>
        <div>Angular</div>
        <div>Grunt</div>
        <div>MongoDB</div>
        <div>Mongoose</div>
        <div>AJAX</div>
    </div>
    <div class="col-md-3">
        <h4>Working Knowledge</h4>
        <div>SASS</div>
        <div>SQL</div>
        <div>PostgreSQL</div>
        <div>PHP</div>
        <div>Linux</div>
        <div>Backbone</div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-md-offset-2 text-center exp">
        <h3>Experience</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p><b>Prime Digital Academy</b> – Software Engineer<br />Bloomington, Minnesota 2015</p>
        <ul>
            <li>Accepted as one of the first 20 students to attend Prime Digital Academy, an 18 week accelerated software engineering bootcamp out of a candidate pool of over 600 applicants.</li>
            <li>Trained in the <b>full stack</b> development process using <b>MEAN stack</b> which allows for a seamless integration of business requirements from client-side <b>user experience</b> to backend development such as <b>dependency injection</b> and <b>database design</b>.</li>
            <li>Implemented <b>Object Oriented Programing</b> procedures resulting in significant technical efficiencies while achieving primary business requirements against timeline and business constraints.</li>
            <li>Utilized <b>responsive web design</b> to carry out best practices resulting in efficient delivery of business solutions for both <b>mobile and desktop</b> applications.</li>
            <li>Applied <b>test driven development</b> resulting in reduced timeline and cost in product delivery.</li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p><b>Initial Effort LLC</b> – Network Administrator<br />St. Louis Park, Minnesota April 2014 - January 2015</p>
        <ul>
            <li>Head of the Networking department for the entire company and <b>manager</b> of 5 international workers. Emphasised documentation and training in <b>Search Engine Optimization</b> techniques, which lead to an <b>increase of efficiency</b> on the network by over 60% and the ability to <b>delegate tasks</b> with ease.</li>
            <li>Responsible for a network of over <b>5 thousand domains</b> including creating links using <b>HTML</b>, <b>CSS</b> and <b>JavaScript</b> and adding website content using <b>Sublime Text</b>, <b>SQL databases</b> and <b>Word Press</b>.</li>
            <li>In charge of all <b>Hosting Vendor Management</b> for the company to include <b>budgeting</b> for hosting and conducting regular <b>meetings with vendor clients</b> to ensure prompt error handling.</li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p><b>Contracting Experience</b><br />Greater Minneaplois/St. Paul Area 2003-2006; 2012-2014</p>
        <p><b>Three North Agency</b> – Lead Programmer<br />Minneapolis, Minnesota July 2014</p>
        <ul>
            <li>In charge of a project to create the <b>architecture</b> for 248 websites using <b>HTML 5</b> and <b>CSS 3</b>.</li>
            <li><b>Project Manager</b> responsible for communicating with client about guidelines, budgeting, <b>quality assurance</b>, and hiring an additional programmer, which lead to <b>early delivery</b> of product.</li>
            <li>Supervisor of 1 other programmer in charge of <b>training</b> to ensure uniformity of websites.</li>
        </ul>
        <p><b>Pixel Napalm</b> – Contract Producer<br />Minneapolis, Minnesota March 2014</p>
        <ul>
            <li>First Assistant Director for <b>commercial shoot</b>. In charge of cast, set, script and directing scenes.</li>
            <li><b>Lighting Technician</b> in charge of lighting the scene and lighting equipment.</li>
            <li>Audio Technician in charge of <b>sound and audio</b> equipment.</li>
        </ul>
        <p><b>Lake Minnetonka Communications Commission</b> – Contract Producer<br />Spring Park, Minnesota 2003 – 2006; 2012 - 2014</p>
        <ul>
            <li>Trained in digital video and analog audio equipment provided by the LMCC.</li>
            <li>Certified in <b>digital editing</b> using Final Cut Pro on a MAC, and Pinnacle Studios on a PC.</li>
            <li>Became a <b>Syndicated Contract Producer</b> (aired on national TV) at the age of 17 for “Beyond the Mic”.</li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p><b>U.S. Army</b> - Cryptologic Linguist, Signals Intelligence Analyst<br />Fayetteville, North Carolina July 2006 - September 2012</p>
        <ul>
            <li>Utilized <b>data collection and analysis</b> techniques including the creation of unique <b>algorithms</b> to drive successful attainment of department and company goals achieving a <b>500% increase</b> in productivity.</li>
            <li><b>Spearheaded new departmental workflow</b> which resulted in a 25% increase in mission accomplishment and became a <b>US Army-wide adopted training</b> program.</li>
            <li>Regularly presented findings of data analysis and data processing to executive stakeholders.</li>
            <li>Lead <b>cross-departmental</b> training initiative on <b>data mining</b>, data analysis and <b>communication</b>.</li>
            <li><b>HR Manager</b> for a team of 12, including <b>career development</b>, <b>career counseling</b>, and training.</li>
            <li>Maintained a database to track and insure skills of over 2,500 people and <b>implemented certification training and assessment program</b>.</li>
            <li>Successfully completed US Army <b>leadership course for Noncommissioned Officers</b>.</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-md-offset-2 text-center edu">
        <h3>Education</h3>
    </div>
    <div class="row">
        <div class="col-md-3 kid2">
            <h4>Prime Digital Academy</h4><p>Bloomington, Minnesota July 2015</p>
            <ul>
                <li>Certified in Fullstack Web Development</li>
            </ul>
        </div>
        <div class="col-md-3 kid2a">
            <h4>University of Minnesota</h4><p>Minneapolis, Minnesota December 2013</p>
            <ul>
                <li>Bachelor of Arts in Linguistics</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Defense Language Institute</h4><p>Monterey, California June 2008</p>
            <ul>
                <li>Associate of Arts in Korean</li>
            </ul>
        </div>
    </div>
</div>

</div>