body {
    background-color: #222222;
    color: #fff;
}

main {
    margin: 5px 20px;
}

.navbar {
    background-color: #4e4e4e;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
}

.navbar img {
    height: 25px;
    width: 25px;
}

ul {
    padding-top: .4%;
}

.nav li a:focus {
    background-color: #4e4e4e;
}

.nav li a:hover{
    background-color: #5c5c5c;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #337ab7;
}

.lastC {
    float: right;
}

.jumbotron {
    margin-top: 51px;
    margin-bottom: 0;
    background-color: #536EA6;
    color: #fff;
    overflow: auto;
    padding: 5px 60px 0 60px;
}

input, textarea {
    color: #000;
}

h1 {
    margin-top: 60px;
}

.left {
    float: left;
    padding-top: 0;
}

.left a {
    color: #fff;
}

.right {
    display: block;
    float: right;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
}

.exp, .skills, .edu {
    border-bottom: 2px solid #536EA6;
    margin-bottom: 20px;
}

.expRow {
    border-bottom: 1px solid #4a4a4a;
}

.col4 {
    padding: 5px;
}

.skillKid1 {
    margin-left: 12.7%;
}
