body {
    background-color: #222222;
    color: #fff;
}

main {
    margin: 5px 20px;
}

.navbar {
    background-color: #4e4e4e;
    margin-bottom: 0;
}

.navbar img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

ul {
    padding-top: .4%;
}

.nav li a:focus {
    background-color: #4e4e4e;
}

.nav li a:hover{
    background-color: #5c5c5c;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #337ab7;
}

.lastC {
    float: right;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #222222;
    color: #fff;
    overflow: auto;
    padding: 5px 60px 0 60px;
    border-bottom: 2px solid #4e4e4e;
}

input, textarea {
    color: #000;
}

/*h1 {*/
    /*margin-top: 60px;*/
/*}*/

.left {
    float: left;
    padding-top: 0;
}

.left a {
    color: #fff;
}

.right {
    display: block;
    float: right;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
}

.exp, .skills, .edu {
    border-bottom: 2px solid #536EA6;
    margin-bottom: 20px;
}

.expRow {
    border-bottom: 1px solid #4e4e4e;
}

.col4 {
    padding: 5px;
}

@media (max-width: 768px) {
    .jumbotron {
        margin-top: 91px;
    }
    .spacing {
        margin-top: 101px;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .jumbotron {
        margin-top: 51px;
    }
    .spacing {
        margin-top: 61px;
    }
}

@media (min-width: 992px) {
    .kid1 {
        margin-left: 12.7%;
    }
    .kid2 {
        margin-left: 14%;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        margin-top: 51px;
    }
    .spacing {
        margin-top: 61px;
    }
    .kid1 {
        margin-left: 12.7%;
    }
    .kid2 {
        margin-left: 14%;
    }
}

.eduC {
    min-height: 120px;
    border-left: 1px solid #4e4e4e;
    margin-bottom: 10px;
}
