body {
    background-color: #222222;
    color: #fff;
}

main {
    margin: 5px 20px;
}

.navbar {
    background-color: #4e4e4e;
    margin-bottom: 0;
}

.navbar img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

ul {
    padding-top: .4%;
}

.nav > li > a.links {
    padding: 5px;
    margin-right: 5px;
}

.nav > li > a.lastLink {
    margin-right: 10px;
}

.nav li a:focus {
    background-color: #4e4e4e;
    color: #337ab7;
}

.nav li a:hover{
    background-color: #5c5c5c;
    text-decoration: underline;
    color: #337ab7;
}

a:hover, a:focus {
    color: #337ab7;
}

.lastC {
    float: right;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #222222;
    color: #fff;
    overflow: auto;
    padding: 5px 60px 0 60px;
    border-bottom: 2px solid #4e4e4e;
}

input, textarea {
    color: #000;
}

.left {
    padding-top: 0;
}

.left a {
    color: #fff;
}

.right {
    display: block;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
}

.exp, .skills, .edu {
    border-bottom: 2px solid #536EA6;
    margin-bottom: 20px;
}

.expRow {
    border-bottom: 1px solid #4e4e4e;
}
.contractExp {
    padding-top: 0;
}

.col4 {
    padding: 5px;
}

@media (max-width: 768px) {
    .jumbotron {
        margin-top: 91px;
    }
    .spacing {
        margin-top: 101px;
    }
    .right {
        margin-left: 5%;
        margin-bottom: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .jumbotron {
        margin-top: 51px;
    }
    .spacing {
        margin-top: 61px;
    }
    .right {
        margin-left: 5%;
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .kid1 {
        margin-left: 12.7%;
    }
    .kid2 {
        margin-left: 14%;
    }
    .right {
        margin-left: 5%;
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        margin-top: 51px;
    }
    .spacing {
        margin-top: 61px;
    }
    .kid1 {
        margin-left: 12.7%;
    }
    .kid2 {
        margin-left: 14%;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

.eduC {
    min-height: 120px;
    border-left: 1px solid #4e4e4e;
    margin-bottom: 10px;
}

.panel-group {
    margin-top: 20px;
    margin-bottom: 0;
}

.panel-title a:hover, .panel-title a:focus {
    color: #fff;
    text-decoration: none;
}

.panel-title h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    background-color: #4e4e4e;
    color: #fff;
}

.panel {
    border: none;
    background-color: inherit;
}

.panel-body {
    border: 1px solid #4e4e4e;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
pre {
    border: 1px solid #4e4e4e;
    color: inherit;
}
