<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body onload="prettyprint()">
        <nav>
            <div class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="nav nav-pills navbar-left">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#code">Code Bits</a></li>
                        <li ng-show="loggedin"><a href="#blogPost">Create New Post</a></li>
                        <li ng-show="!loggedin"><a href="#login">Log In</a></li>
                        <li ng-show="loggedin" ng-click="logout()" class="lastC"><a href="#/">Log Out</a></li>
                    </ul>
                    <ul class="nav nav-pills navbar-right">
                        <li class="lastC"><a href="mailto:chelsea.okey@gmail.com">Email Me</a></li>
                        <li><a target="_blank" href="https://github.com/ch3lsea" class="links"><img
                                src="/images/github.svg"></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/pub/chelsea-okey/84/88/309" class="links"><img
                                src="/images/linkedin.svg"></a></li>
                        <li><a target="_blank" href="https://twitter.com/chelseaokey" class="links lastLink"><img
                                src="/images/twitter.svg"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <main ng-view></main>
        <!--Scripts-->
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="/vendor/angular-bootstrap/dist/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-bootstrap/dist/ui-bootstrap-tpls.min.js"></script>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
        <script type="text/javascript" src="/javascripts/app.min.js"></script>
        <script type="text/javascript" src="/javascripts/login.min.js"></script>
        <!--Scripts-->
    </body>
</html>